#comments{
  text-align: center
}
#comments1{
  font-size: 18px;
}
#comments2{
  font-size: 21px;
  padding-left: 100px;
}
#comments3{
font-size:40px;
border-bottom:black 2px solid;
padding-bottom :30px;

}
