.rcomments {
  border-left : 2px black solid;
  padding-left :177px;
  float:right;
}
.lmenu{
  padding-top:50px;
  padding-left:20px;
  width : 300px;
  float :left;
}
.travel{

  font : 20px solid;

}
